.scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navigation {
      margin-top: 0px;
    }

    .prevBtn {
      position: fixed;
      bottom: 40px;
      left: 40px;
      padding: 8px 24px;
      font-size: 10px;
      margin: 0 5px;
      border-radius: 4px;
      cursor: pointer
    }

    .nextBtn {
      position: fixed;
      bottom: 40px;
      right: 40px;
      padding: 8px 24px;
      font-size: 10px;
      margin: 0 5px;
      border-radius: 4px;
      cursor: pointer
    }
